{% extends 'news/index_2.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block title %}{{ Мэдээ }}{% endblock %}

{% block content %}

{% include 'news/breadcrumb.html' %}

<!-- ======= Blog Section ======= -->

<section id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 entries">
        {% for news in news_list %}
        <article class="entry" data-aos="fade-up">
          <div class="row">
            <div class="col-4">
              <div class="entry-img">
                <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                  <img src="{% if news.image %}{{news.image.url}}{% endif %}" alt="IMG" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="col-8" style="padding-left: 50px;">
              <h2 class="entry-title">
                <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">{{ news.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                      href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                      {{ news.author }}</i></a>,</li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                      href="blog-single.html"><time
                        datetime="2020-01-01">{{ news.created_on|naturalday:'Y-m-d'}}</time></a></li>

                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ news.content|safe|slice:":150" }}...
                </p>
                <div class="read-more">
                  <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">Цааш унших</a>
                </div>
              </div>
            </div>
          </div>
        </article><!-- End blog entry -->
        {% endfor %}




        <!-- Pagination -->

        <div class="row">
          <div class="col-lg-12">
            <div class="blog-pagination" style="padding-left: 350px;">
              {% if is_paginated %}
              <ul class="justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- ENd of Pagination-->
      </div><!-- End blog entries list -->

      {% include 'news/newsidebar.html' %}

    </div>

  </div>
</section><!-- End Blog Section -->

</main><!-- End #main -->

</html>



<style>
  .list-group {
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 0;
    box-sizing: border-box;
  }


  .tab-container {
    position: relative;
    padding: 0 !important;
  }

  #latest-post-list-sidebar,
  #popular-post-list-sidebar {
    height: 318px;
    overflow-y: scroll;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .spost .entry-title h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    height: 46px;
    overflow: hidden;
  }

  .spost:first-child,
  .mpost:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }

  .spost .entry-image,
  .spost .entry-image a,
  .spost .entry-image img,
  .spost .entry-image i {
    width: 80px;
    height: 50px;
    overflow: hidden;
  }

  .spost .entry-title h4 a,
  .mpost .entry-title h4 a {
    color: #333;
  }

  .spost .entry-image img {
    width: 80px !important;
    height: auto !important;
  }

  .spost .entry-title h4,
  .mpost .entry-title h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  .spost,
  .mpost {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #E5E5E5;
  }

  .entry-c {
    position: relative;
    overflow: hidden;
  }

  .sidebar-widgets-wrap .widget {
    padding-top: 25px;
    border-top: none;
  }

  .sidebar-widgets-wrap .widget {
    padding-top: 50px;
    border-top: 1px solid #EEE;
  }

  .widget {
    position: relative;
    margin-top: 50px;
  }

  .notopborder {
    border-top: none !important;
  }

  .notopmargin {
    margin-top: 0 !important;
  }


  .tabs {
    position: relative;
    margin: 0 0 30px 0;
  }

  .nobottommargin {
    margin-bottom: 0 !important;
  }

  ul.tab-nav:not(.tab-nav-lg) {
    margin: 0;
    border-bottom: 1px solid #DDD;
    list-style: none;
  }


  ul.tab-nav:not(.tab-nav-lg) li:first-child {
    margin-left: 0;
    border-left: 1px solid #DDD;
  }

  ul.tab-nav:not(.tab-nav-lg) li:first-child {
    margin-left: 15px;
    border-left: 1px solid #DDD;
  }

  ul.tab-nav:not(.tab-nav-lg) li {
    float: left;
    border: 1px solid #DDD;
    border-bottom: 0;
    border-left: 0;
    height: 41px;
    text-align: center;
  }


  ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    position: relative;
    top: 1px;
    color: #064690;
    background-color: #FFF;
  }

  ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    position: relative;
    top: 1px;
    background-color: #FFF;
  }

  ul.tab-nav:not(.tab-nav-lg) li a {
    display: block;
    padding: 0 15px;
    color: #444;
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
    font-size: 14px;
    font-weight: bold;
  }
</style>
{% endblock %}