{% load static %}

<link rel="stylesheet" href="{% static 'css/news.css' %}">

<div class="col-lg-4">

    <div class="sidebar" data-aos="fade-left">

        <h3 class="sidebar-title">Хайх</h3>
        <div class="sidebar-item search-form">
            <form action="#">
                <input type="text" name="search_text" placeholder="Энд хайх утгаа бичнэ үү." value="{{ search_text }}">
                <button type="submit"><i class="icofont-search"></i></button>
            </form>

        </div><!-- End sidebar search formn-->

        <div class="widget clearfix notopmargin notopborder">
            <div class="tabs nobottommargin clearfix ui-tabs ui-widget ui-widget-content ui-corner-all"
                id="sidebar=tabs">
                <ul class="tab-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                    role="tablist">
                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0"
                        aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a
                            href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Сүүлд
                            нэмэгдсэн</a></li>

                </ul>
                <div class="tab-container">
                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-1"
                        aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                        <div id="popular-post-list-sidebar">
                            {% for news in latest|slice:"0:6" %}
                            <div class="row spost clearfix">
                                <div class="col-md-4 entry-image">
                                    <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}"
                                        class="nobg"> <img src="{% if news.image %}{{news.image.url}}{% endif %}"
                                            alt="IMG" height="200" width="140"> </a>
                                </div>
                                <div class="col-md-8 entry-c">
                                    <div class="entry-title">
                                        <h4> <a href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                                                {{ news.title }} </a> </h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Angilal-->
        <h3 class="sidebar-title" style="padding-top: 15px;">Мэдээний бүлэг</h3>
        <div class="sidebar-item categories">
            {% for category in category_list %}
            <ul>
                <li><a href="#">{{category}} <span></span></a></li>
            </ul>
            {% endfor %}
            <!-- End of angilal-->


            <!-- Ontsloh medee -->
            <!-- Ontsloh medee -->
            <div class="promo-text-blog"></div>
            <div class="list-group">
                <a style="background-color: #0064e1" class="list-group-item active" href=""> Онцлох мэдээнүүд </a>
                {% for news in special %}
                <a class="list-group-item" href="{% if news %}{% url 'news-news-detail' news.slug  %} {% endif %}">
                    {{ news.title }}</a>
                {% endfor %}
            </div>

            <!-- End of ontsloh medee-->


        </div><!-- End sidebar categories-->

    </div><!-- End sidebar -->

</div><!-- End blog sidebar -->