{% extends 'news/index_2.html' %}
{% load i18n %}

{% block content %}
  
   <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Түүхэн замнал</h2>
          <ol>
            <li><a href="{% url 'website-homepage'%}">Нүүр хуудас</a></li>
            <li>Түүхэн замнал</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
       <div class="title" style="text-align: center;"> <h3> Эм холбоо ТББ-ын түүхэн замнал </h3></div>

<section id="conference-timeline">
    <div class="timeline-start" style="margin-top: 100px">Эхлэх</div>
    <div class="conference-center-line"></div>
    <div class="conference-timeline-content">
      <!-- Article -->
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left">
            <h4>“Эм үйлдвэрлэгчийн холбоо”  <span class="article-number"></span></h4>
            <p> Анхны ерөнхийлөгчөөр Монос Фарм ХХК-ийн захирал, эм зүйн ухааны доктор Л.Хүрэлбаатарыг, Гүйцэтгэх захирлаар З.Дашзэвэгийг сонгов. </p>
          </div>
          <span class="timeline-author"></span>
        </div>
     
        <div class="meta-date">
          <span class="date" style="margin-top: 28px;"></span>
          <span class="month">1996</span>
        </div>
      </div>
      <!-- // Article -->
      
      <!-- Article -->
      <div class="timeline-article">
        
        <div class="content-right-container">
          <div class="content-right">
              <h4>“Төрийн бус байгууллага”  </h4>
            <p>“Төрийн бус байгууллагын тухайн хууль”-д нийцүүлэн дүрэмдээ зарим өөрчлөлт оруулж, холбооны статусыг ашгийн бус, “Төрийн бус байгууллага” болгов.  <span class="article-number"></span></p>
          </div>
          <span class="timeline-author"></span>
        </div>
        <div class="meta-date">
             <span class="date" style="margin-top: 28px;"></span>
          <span class="month">1997</span>
        </div>
      </div>
      <!-- // Article -->
      
      <!-- Article -->
      <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left">
                <h4>“Эм холбоо”  </h4>
            <p>“Эм үйлдвэрлэгчдийн холбоо”-ны 3 дугаар чуулган хуралдав. Эм үйлдвэрлэгчдийн холбоонд “Монголын уламжлалт эмийн холбоо”, “Монголын эм импортлогчдын холбоо” нэгдсэн  <span class="article-number"></span></p>
          </div>
          <span class="timeline-author"></span>
        </div>
        
        <div class="meta-date">
         <span class="date" style="margin-top: 28px;"></span>
          <span class="month">2003</span>
        </div>
      </div>
      <!-- // Article -->

       <div class="timeline-article">
        
        <div class="content-right-container">
          <div class="content-right">
              <h4> “МЭЗБН ЭМ ХОЛБОО” </h4>
            <p>Монгол Улсын Хууль зүй, Дотоод хэргийн сайдын 96 дугаар тушаалаар Монголын Эм Зүйн Байгууллагуудын Нэгдсэн “Эм” холбоо ТББ нь гишүүддээ үйлчлэх ТББ статустайгаар улсын бүртгэлд шинэчлэн бүртгэгдсэн.  <span class="article-number"></span></p>
          </div>
          <span class="timeline-author"></span>
        </div>
        <div class="meta-date">
         <span class="date" style="margin-top: 28px;"></span>
          <span class="month">2006</span>
        </div>
      </div>

      <!--2-->
       <div class="timeline-article">
        <div class="content-left-container">
          <div class="content-left">
                <h4> “МЭЗБН ЭМ ХОЛБОО”   </h4>
            <p>ЭМ холбооны 11 дүгээр чуулган зохион байгуулагдаж                             холбооны Удирдах зөвлөлийн гишүүдийн 60 хувь нь                            шинэчлэгдсэн байна. <span class="article-number"></span></p>
          </div>
          <span class="timeline-author"></span>
        </div>
        
        <div class="meta-date">
          <span class="date" style="margin-top: 28px;"></span>
          <span class="month">2019</span>
        </div>
      </div>




    </div>
    <div class="timeline-end" style="margin-bottom: 100px;"> Үргэлжлэл</div>
  </section>

<style>

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
      
      /*===== Vertical Timeline =====*/
      #conference-timeline {
        position: relative;
        max-width: 920px;
        width: 100%;
        margin: 0 auto;
      }
      #conference-timeline .timeline-start,
      #conference-timeline .timeline-end {
        display: table;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        background: #00b0bd;
        padding: 15px 23px;
        color: #fff;
        max-width: 5%;
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
      #conference-timeline .conference-center-line {
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -2px;
        background: #00b0bd;
        z-index: -1;
      }
      #conference-timeline .conference-timeline-content {
        padding-top: 67px;
        padding-bottom: 67px;
      }
      .timeline-article {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: 20px 0;
      }
      .timeline-article .content-left-container,
      .timeline-article .content-right-container {
        max-width: 44%;
        width: 100%;
      }
      .timeline-article .timeline-author {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #242424;
        text-align: right;
      }
      .timeline-article .content-left,
      .timeline-article .content-right {
        position: relative;
        width: auto;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.03);
        padding: 27px 25px;
      }
      .timeline-article p {
        margin: 0 0 0 60px;
        padding: 0;
        font-weight: 400;
        color: #242424;
        font-size: 14px;
        line-height: 24px;
        position: relative;
      }
      .timeline-article p span.article-number {
        position: absolute;
        font-weight: 300;
        font-size: 44px;
        top: 10px;
        left: -60px;
        color: #00b0bd;
      }
      .timeline-article .content-left-container {
        float: left;
      }
      .timeline-article .content-right-container {
        float: right;
      }
      .timeline-article .content-left:before,
      .timeline-article .content-right:before{
        position: absolute;
        top: 20px;
        font-size: 23px;
        font-family: "FontAwesome";
        color: #fff;
      }
      .timeline-article .content-left:before {
        content: "\f0da";
        right: -8px;
      }
      .timeline-article .content-right:before {
        content: "\f0d9";
        left: -8px;
      }
      .timeline-article .meta-date {
        position: absolute;
        top: 0;
        left: 50%;
        width: 62px;
        height: 62px;
        margin-left: -31px;
        color: #fff;
        border-radius: 100%;
        background: #00b0bd;
      }
      .timeline-article .meta-date .date,
      .timeline-article .meta-date .month {
        display: block;
        text-align: center;
        font-weight: 900;
      }
      .timeline-article .meta-date .date {
        font-size: 30px;
        line-height: 40px;
      }
      .timeline-article .meta-date .month {
        font-size: 18px;
        line-height: 10px;
      }
      /*===== // Vertical Timeline =====*/
      
      /*===== Resonsive Vertical Timeline =====*/
      @media only screen and (max-width: 830px) {
        #conference-timeline .timeline-start,
        #conference-timeline .timeline-end {
          margin: 0;
        }
        #conference-timeline .conference-center-line {
          margin-left: 0;
          left: 50px;
        }
        .timeline-article .meta-date {
          margin-left: 0;
          left: 20px;
        }
        .timeline-article .content-left-container,
        .timeline-article .content-right-container {
          max-width: 100%;
          width: auto;
          float: none;
          margin-left: 110px;
          min-height: 53px;
        }
        .timeline-article .content-left-container {
          margin-bottom: 20px;
        }
        .timeline-article .content-left,
        .timeline-article .content-right {
          padding: 10px 25px;
          min-height: 65px;
        }
        .timeline-article .content-left:before {
          content: "\f0d9";
          right: auto;
          left: -8px;
        }
        .timeline-article .content-right:before {
          display: none;
        }
      }
      @media only screen and (max-width: 400px) {
        .timeline-article p {
          margin: 0;
        }
        .timeline-article p span.article-number {
          display: none;
        }
        
      }
      /*===== // Resonsive Vertical Timeline =====*/


</style>
      </div>
    </section>

  </main><!-- End #main -->


{% endblock%}