{% extends 'news/index_2.html' %}
{% load i18n %}

{% block content %}


<ul id='activities'>
  <li class='work'>
    <input class='radio' id='work5' name='works' type='radio' checked>
    <div class="relative">
      <label for='work5'>1998</label>
      <span class='date'>1998</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        Эмийн үйлдвэрүүдийн дунд “Эм бэлдмэлийг дагнаж, хоршиж үйлдвэрлэх” хэлэлцээр байгуулж, амжилттай хэрэгжүүлэв.
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work4' name='works' type='radio'>
    <div class="relative">
      <label for='work4'>2012/2015/2016</label>
      <span class='date'>2012/2015/2016</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        “Эм” холбоо Эрүүл мэндийн яамтай хамтарч ажиллах гэрээнд гарын үсэг зурснаар төрийн яамдтай гэрээ хэлэлцээрийн
        түвшинд ажиллах эхлэл тавигдав.
        ЭМ” холбооны боловсруулсан Үндэсний эмийн үйлдвэрийг хөгжүүлэх хөтөлбөрийн төсөлд үндэслэн ЭМСЯ-наас эмийн
        үйлдвэрүүдийг GMP стандартад үе шаттайгаар шилжүүлэх хөтөлбөр, төлөвлөгөө батлан гаргав.

      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work3' name='works' type='radio'>
    <div class="relative">
      <label for='work3'>2013</label>
      <span class='date'>2013</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        ДЭМБ-ын суурин төлөөлөгчийн газар, АХБ-ны төслийн баг зэрэг олон улсын байгууллагуудтай тодорхой төсөл,
        хөтөлбөр, судалгааны чиглэлээр хамтран ажиллаж эхлэв
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work2' name='works' type='radio'>
    <div class="relative">
      <label for='work2'>2014</label>
      <span class='date'>2014</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        VIP76.mn сайттай хамтран “Эмийн үндэсний бодлого” сэдэв хэлэлцүүлэг зохион байгуулж, эм зүйн мэргэжилтнүүдийн
        санал, хүсэлтийг уг сайтаар сурталчилж ажиллав.
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work1' name='works' type='radio'>
    <div class="relative">
      <label for='work1'>2017</label>
      <span class='date'>2017</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        Эрүүл мэндийн яам, ЭМХТ, НЭМГ, ЭМДЕГ, МХЕГ-тай түншлэлийн гэрээ, санамж бичиг байгуулж, хамтран ажиллах асуудлыг
        шийдвэрлэсэн.
      </p>
    </div>
  </li>
</ul>
<style>
  /* -------------------------------------
 * activities
 * ------------------------------------- */
  #activities {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid #eee9dc;
  }

  #activities li {
    margin: 40px 0;
    position: relative;
  }

  #activities p {
    margin: 0 0 15px;
  }

  .date {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
  }

  .circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #57aae1;
    border: 5px solid #1f1e1c;
    border-radius: 50%;
    display: block;
    position: absolute;
  }

  .content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
  }

  .content:before,
  .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }

  .content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }

  .content:after {
    border-right-color: #57aae1;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }

  .content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }

  label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
  }

  .radio {
    display: none;
  }

  .radio:checked+.relative label {
    cursor: auto;
    transform: translateX(42px);
  }

  .radio:checked+.relative .circle {
    background: #f98262;
  }

  .radio:checked~.content {
    max-height: 180px;
    border-color: #1f1e1c;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
  }

  .radio:checked~.content p {
    max-height: 200px;
    color: #1f1e1c;
    transition: color 0.3s linear 0.3s;
  }

  /* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
  @media screen and (max-width: 767px) {
    #activities {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }

    #activities li {
      margin: 50px 0;
    }

    label {
      width: 85%;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      transform: translateX(18px);
    }

    .content {
      padding-top: 45px;
      border-color: #1f1e1c;
    }

    .content:before,
    .content:after {
      border: solid transparent;
      bottom: 100%;
    }

    .content:before {
      border-bottom-color: inherit;
      border-width: 17px;
      top: -16px;
      left: 50px;
      margin-left: -17px;
    }

    .content:after {
      border-bottom-color: #57aae1;
      border-width: 20px;
      top: -20px;
      left: 50px;
      margin-left: -20px;
    }

    .content p {
      font-size: 0.9em;
      line-height: 1.4;
    }

    .circle,
    .date {
      display: none;
    }
  }
</style>
</div>
</section>

</main><!-- End #main -->


{% endblock%}