{% extends 'news/index_2.html' %}
{% load i18n%}



{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="row gutter-40 col-mb-80">
				<div class="col-12">
					{% if previous.answers %}


					<p class="muted"><small>{% trans "The previous question" %}:</small></p>
					<p>{{ previous.previous_question }}</p>

					{% if previous.previous_outcome %}
					<div class="alert alert-success">
						{% else %}
						<div class="alert alert-warning">
							{% endif %}
							<p><small>
									{% trans "Таны хариулт" %} </small>
								<strong>
									{{ previous.previous_outcome|yesno:"Зөв,Буруу" }}
								</strong>
								<small>
									{% trans 'байна' %}
								</small>
							</p>

						</div>

						{% include 'correct_answer.html' %}

						<p><strong>{% trans "Тайлбар дүн" %}:</strong></p>
						<div class="well " style="background-color: #fcf8e3;">
							<p>{{ previous.previous_question.explanation }}</p>
						</div>

						<hr>

						{% endif %}

						<br />

						{% if question %}

						{% if progress %}
						<div style="float: right;">
							{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
						</div>
						{% endif %}

						<p>
							<small class="muted">{% trans "Question category" %}:</small>
							<strong>{{ question.category }}</strong>
						</p>

						<p class="lead">{{ question.content }}</p>


						<div class="row">
							<div class="col-12">
								<form action="" method="POST">{% csrf_token %}
									<input type=hidden name="question_id" value="{{ question.id }}">

									<ul class="list-group">

										{% for answer in form.answers %}
										<li class="list-group-item">
											{{ answer }}
										</li>
										{% endfor %}

									</ul>
									{% if progress.0|add:1 == progress.1 %}
									<input type="submit" value={% trans "Илгээх" %}
										class="btn btn-large btn-block btn-warning">
									{% else %}
									<input type="submit" value={% trans "Дараах" %}
										class="btn btn-large btn-block btn-warning">
									{% endif %}
								</form>

								{% endif %}

								<hr>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
</section>
{% endblock %}