{% extends 'news/index_2.html' %}
{% load static %}
{% load i18n %}


{% block content %}


<!-- Page info -->
 <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Сургалт</h2>
          <ol>
        <li><a href="{% url 'website-homepage'%}">Нүүр хуудас</a></li>
            <li>Сургалт</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
<!-- Page info end -->


<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp" style="text-align: right;">
      <div class="section-title text-white">
        <h2><span>Хичээл хайх</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-12 offset-lg-1">
          <!-- search form -->
          <form method="post" action="{% url 'courses:search_course' %}" class="intro-newslatter"> {% csrf_token %}
            <input name="search" type="text" placeholder="">
            <button type="submit" class="site-btn btn-dark">Хайх.</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->


<!-- single course section -->
<section class="single-course spad pb-0">
  <div class="container">
    <div class="course-meta-area">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          
          <h3>{{course.title|capfirst}}</h3>
          <div class="course-metas">
            <div class="course-meta">
              <div class="course-author">
                <h6>Багш</h6>
                <p>{{course.user|capfirst}}, </p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Course</h6>
                <p>{{course.course}}</p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Ангийн тодорхойлолт</h6>
                <p>{{course.description}}</p>
              </div>
            </div>
            <div class="course-meta">
              <div class="cm-info">
                <h6>Хичээлийн тоо</h6>
                <p>{{ course.lessons|length }}</p>
              </div>
            </div>
          </div>
          <a href="/courses/{{ course.id }}" class="site-btn price-btn">Буцах</a>
          <a href="#vazhdo" class="site-btn buy-btn">Цааш үргэлжлүүлэх</a>
        </div>
      </div>
    </div>
    <img src="img/courses/single.jpg" alt="" class="course-preview">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 course-list" style="text-align: right;">
        <div class="cl-item" id="lessons">
          <h4>Энэ ангид орох хичээлүүд</h4>
          {% if course.lessons != None  %}
            {% for lesson in course.lessons %}
            <div data-aos="fade-right" >
              <h5 class="pb-3">Хичээл №- {{lesson.position}} <a id="vazhdo" href="{{ lesson.get_absolute_url }}#video"><span class="pl-4">{{lesson.title}}</span></a></h5>
            </div>
            {% endfor %}
          {% endif %}
          {% if course.lessons|length == 0 %}
          <div class="alert alert-danger">Хичээл байхгүй байна.!!</div>
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
</section>



<style>

.course-meta-area {
	background: #edf4f6;
	padding: 35px 0;
}

.course-meta-area .course-note {
	display: inline-block;
	background: #e1691d;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.course-metas {
	padding-top: 50px;
	margin-bottom: 45px;
	display: table;
}

.course-meta {
	display: table-cell;
	height: 100%;
	border-right: 2px solid #c5ced0;
	padding: 5px 50px;
}

.course-meta:nth-child(1) {
	padding-left: 0;
}

.course-meta:nth-child(4) {
	padding-right: 0;
	border-right: none;
}

.course-meta p {
	margin-bottom: 0;
}

.course-meta .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-meta .course-author h6 {
	padding-left: 60px;
}

.course-meta .course-author p {
	padding-left: 60px;
	margin-bottom: 0;
	padding-top: 4px;
	font-weight: 600;
}

.course-meta .course-author p span {
	color: #e1691d;
}

.course-meta .cm-info h6 {
	margin-bottom: 3px;
}

.course-meta .cm-info p {
	font-weight: 600;
}

.course-meta .rating {
	padding-left: 15px;
	font-size: 12px;
}

.course-meta-area .site-btn {
	min-width: auto;
	font-size: 14px;
}

.course-meta-area .price-btn {
	padding: 20px 30px;
	background: #474747;
	margin-right: 10px;
}

.course-meta-area .buy-btn {
	padding: 20px 40px;
}

.course-preview {
	padding-top: 37px;
	margin-bottom: 55px;
}

.course-list .cl-item {
	margin-bottom: 55px;
}

.course-list .cl-item h4 {
	margin-bottom: 46px;
}

.course-list .cl-item p {
	margin-bottom: 0;
}

.realated-courses {
	background: #edf4f6;
}

.realated-courses .rc-title {
	font-size: 34px;
	margin-bottom: 85px;
}

.realated-courses .course-item .course-info {
	background: #fff;
}

.realated-courses .owl-next {
	position: absolute;
	right: -80px;
	top: 50%;
	margin-top: -27px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-size: 22px;
	padding-top: 10px;
	background: #e1691d;
}
</style>
{% endblock %}