{% extends 'accounts/sign_up.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}


   <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                 <h4>{% trans 'Хэрэглэгчийн нэрээ санах' %}</h4> 
                </span>
                {% csrf_token %}

             {% bootstrap_form form %}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Цааш
                    </button>
                </div>
                <div class="flex-col-c p-t-120 p-b-40">
                    <span class="txt1 p-b-9">
                      <a href="{% url 'accounts:log_in' %}" class="txt3">
                            Бүртгэлтэй бол энд дарж нэвтрэн үү.!
                    </a>  
                    </span>
                    </a>
                </div>
            </form>
        </div>
    </div>
  </div>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
        </li>
    </ul>

{% endblock %}
